@keyframes blink{
  0%{
    background: rgba(99,222,0,100);
  }
  100%{
    background: rgba(99,222,0,0);
  }
}

@-webkit-keyframes blink{
  0%{
    background: rgba(99,222,0,100);
  }
  100% {
    background: rgba(99,222,0,0);
  }
}
@-moz-keyframes blink{
  0%{
    background: rgba(99,222,0,100);
  }
  100%{
    background: rgba(99,222,0,0);
  }
}

body {
  margin: 0;
  background: #000;
}
#body{
  font-family: Andale Mono, monospace;
  font-size: 1em;
  float: left;
  width: 100%;
  min-height: 100%;
  background: #000;
  line-height: 1.5em;
}
#input{
  z-index: 9;
  outline: 0;
  border: 0;
  caret-color: #000;
  background: none;
  font-family: Andale Mono, monospace;
  overflow-y: visible;
  width: 1em;
}
#cursor{
  background: #63de00;
  display: inline-block;
  width: .75em;
  height: 1.25em;
  margin-bottom: -.25em;
  margin-right: 1em;
  z-index: -1;
}
#body #cursor{
  -webkit-animation-name: blink;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blink;
  -moz-animation-duration: .5s;
  -moz-animation-iteration-count: infinite;
}
#body p::-webkit-selection{
  background: #0b209e;
}
#body p::-moz-selection{
  background: #0b209e;
}
#body p::selection{
  background: #0b209e;
}
#body p, #body pre, #body input{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  color: #63de00 !important;
}
.emphasize {
  color: #74ff04;
  font-weight: bold;
  font-size: larger;
}