@keyframes blink{
  0%{
    background: rgba(99,222,0,100);
  }
  100%{
    background: rgba(99,222,0,0);
  }
}

@-webkit-keyframes blink{
  0%{
    background: rgba(99,222,0,100);
  }
  100% {
    background: rgba(99,222,0,0);
  }
}
@-moz-keyframes blink{
  0%{
    background: rgba(99,222,0,100);
  }
  100%{
    background: rgba(99,222,0,0);
  }
}

body {
  margin: 0;
  background: #000;
}
#body{
  font-family: Andale Mono, monospace;
  font-size: 13px;
  float: left;
  width: 100%;
  min-height: 130px;
  background: #000;
  line-height: 1.5em;
}
#body p, #body, pre{
  color: #63de00 !important;
}

#input{
  z-index: 9;
  margin-bottom: -4px;
  outline: 0;
  background: none;
  border: 0;
  width: 8px;
  caret-color: #000;

}
#cursor{
  background: #63de00;
  display: inline-block;
  width: 11px;
  height: 19px;
  margin-bottom: -4px;
  margin-left: -8px;
  z-index: -1;
}
#input, #input:active, #input:focus{
}
#body #cursor{
  -webkit-animation-name: blink;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blink;
  -moz-animation-duration: .5s;
  -moz-animation-iteration-count: infinite;
}
#body p::-webkit-selection{
  background: #0b209e;
}
#body p::-moz-selection{
  background: #0b209e;
}
#body p::selection{
  background: #0b209e;
}
#body p{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 13px;
}
