@import url('font-awesome.css');
/* Layout Tweaks */
html {
  overflow-y: -moz-scrollbars-vertical;
  overflow-y: scroll;
  min-height: 100%;
  position: relative;
}
header {
  text-decoration: none;
  margin-bottom: .5em;
}
.pure-menu {
  -webkit-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    4px 4px 10px 0px rgba(50, 50, 50, 0.25);
  box-shadow:         4px 4px 10px 0px rgba(50, 50, 50, 0.25);
  color: #CE0000 !important;
}
body {
  margin: 0 0 1em; /* bottom = footer height */
  background-color: #DDDDDD;
}
footer {
  text-align: center;
  padding-top: 1em;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2em;
  width: 100%;
  color: #CCCCCC;
  background-color: #6E6E6E;
}
li, tr, dl, dt, dd {
  line-height: 1.75em !important;
}
ul {
  padding: 0 0 0 0px !important;
}
a, .post-title {
  color: #CE0000;
}
.retro, .post-title {
  font-family: 'Press Start 2P', cursive;
}
#content {
  font-size: 90%;
}

/* Animation */
@-webkit-keyframes fade_in {
  from { opacity:.2; }
  to { opacity:1; }
}
@keyframes fade_in {
  from { opacity:.2; }
  to { opacity:1; }
}
.reveal.ng-enter {
  -webkit-animation: fade_in .5s linear; /* Safari/Chrome */
  animation: fade_in .5s linear; /* IE10+ and Future Browsers */
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* Paginator */
#paginator {
  text-align: left;
}
.pure-button-red {
  background-color: #CE0000;
}

/* Sidebar */
#sidebar {
  background: linear-gradient(
    to bottom,
    #6E6E6E,
    #6E6E6E 50%,
    #16161D 50%,
    #16161D
  );
  background-size: 100% 1em !important;
}
#sidebar, .social, .tags, .categories {
  padding: .25em 2em !important;
  max-width: 12em;
  border: solid 2px #16161D;
}
#sidebar h2, #sidebar a,.tags a, .categories a {
  color: #FFFFFF;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
  line-height: 1.5em !important;
}
.posts li {
  list-style-type: none;
}
.categories, .tags {
  background-color: #16161D;
}

/* Sidebar>Social */
.social li {
  list-style-type: none;
  display: inline-block !important;
}
.social a {
  padding-left: 25px;
  background-repeat: no-repeat;
  text-decoration: none;
}

/* Social Icons */
.social a[href*='about.me'] {background-image: url('../images/icons/aboutme.png');}
.social a[href*='atom.xml'], .social a[href*='rss.xml'] {background-image: url('../images/icons/rss.png');}
.social a[href*='bitbucket.org'] {background-image: url('../images/icons/bitbucket.png');}
.social a[href*='delicious.com'] {background-image: url('../images/icons/delicious.png');}
.social a[href*='digg.com'] {background-image: url('../images/icons/digg.png');}
.social a[href*='facebook.com'] {background-image: url('../images/icons/facebook.png');}
.social a[href*='gitorious.org'] {background-image: url('../images/icons/gitorious.png');}
.social a[href*='github.com'],
.social a[href*='git.io'] {background-image: url('../images/icons/github.png');background-size: 16px 16px;}
.social a[href*='gittip.com'] {background-image: url('../images/icons/gittip.png');}
.social a[href*='plus.google.com'] {background-image: url('../images/icons/google-plus.png');}
.social a[href*='groups.google.com'] {background-image: url('../images/icons/google-groups.png');}
.social a[href*='news.ycombinator.com'],
.social a[href*='hackernewsers.com'] {background-image: url('../images/icons/hackernews.png');}
.social a[href*='last.fm'], .social a[href*='lastfm.'] {background-image: url('../images/icons/lastfm.png');}
.social a[href*='linkedin.com'] {background-image: url('../images/icons/linkedin.png');}
.social a[href*='reddit.com'] {background-image: url('../images/icons/reddit.png');}
.social a[href*='slideshare.net'] {background-image: url('../images/icons/slideshare.png');}
.social a[href*='speakerdeck.com'] {background-image: url('../images/icons/speakerdeck.png');}
.social a[href*='stackoverflow.com'] {background-image: url('../images/icons/stackoverflow.png');}
.social a[href*='twitter.com'] {background-image: url('../images/icons/twitter.png');}
.social a[href*='vimeo.com'] {background-image: url('../images/icons/vimeo.png');}
.social a[href*='youtube.com'] {background-image: url('../images/icons/youtube.png');}

div.sumome-share-client.sumome-share-client-left-page.sumome-share-client-light.sumome-share-client-small > a:nth-child(6) {
  display: none !important;
}

/* Screens */
  header {
    margin-bottom: 0em;
  }
  .pure-g {
    padding: 0em 0em 0em 0em;
    margin-bottom: -1em;
  }
  .pure-menu-heading {
    font-size: 150% !important;
    padding-bottom: 0em;
  }
  .reveal {
    padding: 0em 1em 1.5em 1em;
  }
  article p {
    font-size: 150%;
    font-family: 'Open Sans', sans-serif;
  }
  #content, #paginator {
    padding: 0em 0em 1em;
  }
  .posts {
  min-height: 12em;
  }
@media screen and (min-width: 48em) {
  header {
    margin-bottom: .5em;
  }
  .pure-g {
    padding: 0em 4em 0em 4em;
    margin-bottom: -1em;
  }
  .pure-menu-heading {
    font-size: 200% !important;
    padding-bottom: .5em;
  }
  .reveal {
    padding: 0em 2em .5em 2em;
  }
  #content, #paginator {
    padding: 1em 0em 2.5em;
  }
  .posts {
  min-height: 16em;
  }
}
@media screen and (min-width: 64em) {
  header {
    padding: 0em 0em 1em 0em;
    margin-bottom: 1em;
  }
  .pure-g {
    padding: 0em 8em 0em 8em;
    margin-bottom: -1em;
  }
  .pure-menu-heading {
    padding: 1em 0em .5em 1em !important;
    font-size: 300% !important;
  }
  .reveal {
    padding: 0em 4em 1em 4em;
  }
}

@media print {
 body:after{
  content:url(http://chart.googleapis.com/chart?
        cht=qr&chs=200x200&choe=UTF-8&chld=H&chl=https://josefmonje.com)
  }
}
